.shakeanimate {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 2px, 0);
    -ms-transform: translate3d(-1px, 2px, 0);
    -webkit-transform: translate3d(-1px, 2px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px,-2px, 0);
    -ms-transform: translate3d(2px,-2px, 0);
    -webkit-transform: translate3d(2px,-2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 2px, 0);
     -ms-transform: translate3d(-4px, 2px, 0);
     -webkit-transform: translate3d(-4px, 2px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -2px, 0);
    -ms-transform: translate3d(4px, -2px, 0);
    -webkit-transform: translate3d(4px, -2px, 0);
  }
}

